name: main

on: [push, pull_request]

jobs:
    application:
        name: Main Run
        runs-on: ubuntu-latest

        steps:
          - name: Checkout
            uses: actions/checkout@v3

          - name: Setup Java
            uses: actions/setup-java@v3
            with:
                distribution: 'temurin'
                java-version: '17'
                cache: 'maven'
                
          - name: Build with Maven
            run: mvn -B package --file pom.xml